.container {
  margin-bottom: 30px;
}
.orange-bg {
  background-color: #feeae9;
  border-radius: 5px;
}
.carousel-item {
  padding: 20px 40px;
}
.price {
  color: #ff136f;
}
.buy-now-button {
  background-image: linear-gradient(
    180deg,
    rgba(255, 88, 155, 1) 0%,
    rgba(255, 19, 111, 1) 100%
  );
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
  text-transform: uppercase;
}
